.statistics {
    background-color: white;
    border-radius: 7px;
    text-align: center;
    box-shadow: 5px 5px 19px -5px rgba(0,0,0,0.5);
    -webkit-box-shadow: 5px 5px 19px -5px rgba(0,0,0,0.5);
    -moz-box-shadow: 5px 5px 19px -5px rgba(0,0,0,0.5);
    max-width: 400px;
}

.title {
    padding: 30px 60px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.8);
    font-size: 1.5rem;
    font-weight: 800;
}

.stat-list {
    display: flex;
    flex-wrap: wrap;
}

.item {
    width: 100%;
    max-width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.9);
	-webkit-text-stroke: 1px #ffffff4b;
	text-shadow: 1px 1px 1px #282828;
}

.item:last-child {
    border-bottom-right-radius: 7px;    
}

.item:first-child {
    border-bottom-left-radius: 7px;
}